@charset "utf-8";

@import url(common.css);


/*=====================================채용정보 리스트====================================*/

section.main .hb_wrap{
    width: 1100px;
    margin: 32px auto;
    /*background-color: palegreen;*/
    /*position: relative;*/
}

section.main .hb_wrap .box {
    width: 550px;
    height: 220px;
    border-bottom: 1px solid #eee;
    border-radius: 0px;
    float: left;
    /*margin-right: 30px;*/
    /*padding-left: 20px;*/
    padding-top: 24px;
    padding-right: 20px;
}

section.main .hb_wrap .box:first-child{
    border-top: 1px solid #eee;
}
section.main .hb_wrap .box:nth-child(2){
    border-top: 1px solid #eee;
}
section.main .hb_wrap .box .hb_writeday{
    border: 2px solid rgba(148,150,155,0.3);
    padding: 4px 10px;
    border-radius: 100px;
    font-size: 13px;
    color: #aaa;
}
section.main .hb_wrap .box .hb_readcount{
    /*border: 2px solid rgba(148,150,155,0.3);*/
    padding: 4px 10px;
    border-radius: 100px;
    font-size: 13px;
    background-color: #eff1f5;
    color: gray;
}
section.main .hb_wrap .box .hb_readcount div.icon_read{
    display: inline-block;
    background: url(https://d2u3dcdbebyaiu.cloudfront.net/img/www_kr/sp-kr.png?time=dec2022) no-repeat;
    background-size: 590px 907px;
    background-position: -10px -595px;
    /*content: '';*/
    width: 16px;
    height: 23px;
   /* float: left;*/
}
section.main .hb_wrap .box .hb_subject{
    font-size: 18px;
    margin-top: 10px;
    height: 112px;
}
section.main .hb_wrap .box span.hb_photo{
    width: 80px;
    height: 80px;
    float: right;
    /*position: relative;
    top: 0;
    right: 0;*/
}
section.main .hb_wrap .box span.hb_photo img{
    width: 80px;
    height: 80px;
}

section.main .hb_wrap .hr_tag{
    /*margin-top: 20px;*/
}

section.main .hb_wrap .hr_tag_1{
    font-size: 12px;
    border: 1px solid rgb(19, 191, 159);
    display: inline-block;
    padding: 1px 8px 0px 7px;
    margin-left: -2px;
    color: rgb(19, 191, 159);
}
section.main .hb_wrap .hr_tag_2{
    font-size: 12px;
    border: 1px solid rgb(119, 101, 255);
    display: inline-block;
    padding: 1px 8px 0px 7px;
    color: rgb(119, 101, 255);
}

section.main .paginate{
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    /*background-color: palegreen;*/
}
section.main .paginate .icon_pre{
    background: url(../photo/devster_icon.png) no-repeat;
    background-size: 600px 900px;
    background-position: -218px -626px;
    margin-right: 15px;
    width: 14px;
    height: 14px;
    display: inline-block;
}
section.main .paginate .icon_next{
    background: url(../photo/devster_icon.png) no-repeat;
    background-size: 600px 900px;
    background-position: -166px -626px;
    margin-right: 15px;
    width: 14px;
    height: 14px;
    display: inline-block;
}

section.main .hb_write_btn{
    /*position: relative;*/
    bottom: 112px;
    left: 1203px;
}

/*================================== 채용정보 디테일 페이지 ====================================*/


section.main .hb_detail_wrap{
    width: 1140px;
    /*background: palevioletred;*/
    margin: 0 auto;
}
section.main .hb_detail_wrap .hb_detail_content{
    width: 736px;
    /*background: palegreen;*/
    padding-top: 40px;
    float: left;
}

section.main .hb_detail_wrap .hb_detail_content .wrap_info{
    margin-top: 10px;
    /*height: 30px;*/
}

section.main .hb_detail_wrap .hb_detail_content .wrap_info .time_date_div{
    height: 30px;
}

section.main .hb_detail_wrap .hb_detail_content .show_tag{
    margin-top: 24px;
}
section.main .hb_detail_wrap .hb_detail_content .show_tag .tag_dday{
    border: 2px solid rgba(148,150,155,0.3);
    padding: 4px 10px;
    border-radius: 100px;
    font-size: 13px;
    color: #aaa;
}
section.main .hb_detail_wrap .hb_detail_content .show_tag .tag_career{
    /*border: 2px solid rgba(148,150,155,0.3);*/
    padding: 4px 10px;
    border-radius: 100px;
    font-size: 13px;
    background-color: #eff1f5;
    color: gray;
}

section.main .hb_detail_wrap .hb_detail_content .article_view_head{
    border-bottom: 1px solid #eee;
    padding-bottom: 29px;
}


section.main .hb_detail_wrap .hb_detail_content .article_view_head .hireboard_link:before {
    background: url(https://static.teamblind.com/img/www_kr/sp-kr.png) no-repeat;
    background-size: 600px 900px;
    background-position: -10px -626px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -2px 4px 0;
    vertical-align: middle;
    content: '';
}


section.main .hb_detail_wrap .hb_detail_content .article_view_head a{
    margin-left: 2px;
}

section.main .hb_detail_wrap .hb_detail_content .article_view_head h2{
    font-size: 24px;
    margin-top: 18px;
    font-weight: bold;
}

section.main .hb_detail_wrap .hb_detail_content .article_view_head a{
    color: #222;
    font-size: 14px;
    font-weight: bold;
}

section.main .hb_detail_wrap .hb_detail_content .article_view_head .wrap_info span{
    /*float: left;*/
    color: #94969b;
    margin-left: 14px;
}

/*아이콘*/
section.main .hb_detail_wrap .hb_detail_content .article_view_head .wrap_info .icon_time{
    display: inline-block;
    background: url(https://d2u3dcdbebyaiu.cloudfront.net/img/www_kr/sp-kr.png?time=dec2022) no-repeat;
    background-size: 600px 900px;
    background-position: -88px -598px;
    width: 16px;
    height: 23px;
    vertical-align: middle;
    margin-right: 3px;
}

section.main .hb_detail_wrap .hb_detail_content .article_view_head .wrap_info span .icon_read{
    display: inline-block;
    background: url(https://d2u3dcdbebyaiu.cloudfront.net/img/www_kr/sp-kr.png?time=dec2022) no-repeat;
    background-size: 590px 907px;
    background-position: -10px -595px;
    /*content: '';*/
    width: 16px;
    height: 23px;
    /* float: left;*/
    margin-right: 3px;
}

/*북마크*/
section.main .hb_detail_wrap .hb_detail_content .article_view_head #add-bkmk-btn{
    float: right;
    /*text-align: center;*/
    padding: 0;
}

section.main .hb_detail_wrap .hb_detail_content .article_view_content{
    padding-top: 32px;
    /*border: 1px solid black;*/
}

section.main .hb_detail_wrap .hb_detail_content .article_view_content .hr_tag_1{
    font-size: 12px;
    border: 1px solid rgb(19, 191, 159);
    display: inline-block;
    padding: 1px 8px 0px 7px;
    margin-left: -2px;
    color: rgb(19, 191, 159);
}
section.main .hb_detail_wrap .hb_detail_content .article_view_content .hr_tag_2{
    font-size: 12px;
    border: 1px solid rgb(119, 101, 255);
    display: inline-block;
    padding: 1px 8px 0px 7px;
    color: rgb(119, 101, 255);
}

section.main .hb_detail_wrap .hb_detail_content .article_view_content .hr_detail_img{
    margin-top: 32px;
}

section.main .hb_detail_wrap .hb_detail_content .article_view_content .content_txt{
    line-height: 1.75em;
    font-size: 16px;
}

section.main .hb_detail_wrap .hb_detail_content .article_view_content .util_btns{
    margin-top: 40px;
}

section.main .hb_detail_wrap .hb_detail_content .article_view_content .util_btns button{
    background: #4c7bc9;
    color: #fff;
    text-align: center;
    margin-right: 6px;
    /*width: 100px;*/
}




/*========================================== 디테일 페이지 aside ===========================================*/

section.main .hb_detail_wrap .hb_aside{
    width: 340px;
    margin-left: 64px;
    /*background-color: palegreen;*/
    float: left;
    padding-top: 40px;
}

/* 베스트 게시글 */

section.main .hb_detail_wrap .hb_aside .quickmenu {
     position: relative;
     width: 340px;
     /*top: 50%;*/
     transition: transform 0.5s ease-out;
     margin-top: -20px;
     /*right: 142px;*/
     background: #fff;
}

section.main .hb_detail_wrap .hb_aside .quickmenu ul {
    position: relative;
    float: left;
    width: 100%;
    display: inline-block;
    *display: inline;
    border: 1px solid #eee;
}

section.main .hb_detail_wrap .hb_aside .quickmenu ul li {
    float: left;
    width: 100%;
    border-bottom: 1px solid #eee;
    /*text-align: center;*/
    display: inline-block;
    *display: inline;
    padding: 16px 20px 17px;
    font-size: 13px;
    /*border-bottom: 1px solid #ddd;*/
}

section.main .hb_detail_wrap .hb_aside .quickmenu ul li:first-child{
    border-bottom: 0px;
    padding: 5px 8px 0px;
}

section.main .hb_detail_wrap .hb_aside .quickmenu ul li a {
    position: relative;
    float: left;
    width: 100%;
    height: 30px;
    line-height: 30px;
    /*text-align: center;*/
    color: #999;
    font-size: 9.5pt;
}

section.main .hb_detail_wrap .hb_aside .quickmenu ul li a:hover {
    color: #000;
}

section.main .hb_detail_wrap .hb_aside .quickmenu ul li:last-child {
    border-bottom: 0;
}

section.main .hb_detail_wrap .hb_aside .quickmenu_head h2{
    padding: 15px 18px 4px;
    font-size: 16px;
    font-weight: 700;
}

section.main .hb_detail_wrap .hb_aside .quickmenu ul li a>div>div{
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    /*line-height: 1.25em;*/
    color: #222;
    margin-left: 3px;
}

section.main .hb_detail_wrap .hb_aside .quickmenu ul li a>div>div:after {
    content: '';
    background: url(https://static.teamblind.com/img/www_kr/sp-kr.png) no-repeat;
    background-size: 600px 900px;
    background-position: -88px -626px;
    position: absolute;
    top: 50%;
    right: 0;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
}

section.main .hb_detail_wrap .hb_aside .quickmenu .view_all_li{
    text-align: center;
}

section.main .hb_detail_wrap .hb_aside .quickmenu .view_all{
    text-align: center;
    font-size: 18px;
}

section.main .hb_detail_wrap .hb_aside .quickmenu .view_all:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 24px;
    background: url(https://static.teamblind.com/img/www_kr/sp-kr.png) no-repeat;
    background-size: 600px 900px;
    background-position: -9px -620px;
    vertical-align: top;
    margin-top: 3px;
    margin-left: 2px;
}





