@charset "utf-8";

@import url(common.css);

#slideShow{
    position:relative; /*부모기준설정*/
    overflow:hidden;  /*넘치는 자식 보이지않게*/
    width:1100px;
    height:160px;
    margin:0 auto;
}
#slideShow .slide ul{
    position:absolute;
    width:3300px; /*이미지의 총가로길이(940*4)*/
    padding: 0
}
#slideShow .slide ul li{float:left;}

#slideShow img{
    width: 1100px;
    height: 160px;
}

/*좌우버튼*/
#slideShow .side_btn .pre{
    position:absolute;
    top:65px;
    left:10px;
    width:32px;
    height:32px;
    border-radius: 100%;
    background-color: #fff;
    /*background:url(../photo/lbtn_off.png) no-repeat;*/
}
#slideShow .side_btn .pre .pre_icon{
    /*background:url(../photo/lbtn_on.png) no-repeat;cursor:pointer;*/
    background: url(../photo/devster_icon.png) no-repeat;
    background-size: 600px 900px;
    background-position: -211px -618px;
    width: 24px;
    height: 24px;
}

#slideShow .side_btn .nex{
    position:absolute;
    top:65px;
    left:1060px;
    width:32px;
    height:32px;
    border-radius: 100%;
    background-color: #fff;
    /*background:url(../photo/lbtn_off.png) no-repeat;*/
}
#slideShow .side_btn .nex .next_icon{
    /*background:url(../photo/lbtn_on.png) no-repeat;cursor:pointer;*/
    background: url(../photo/devster_icon.png) no-repeat;
    background-size: 600px 900px;
    background-position: -158px -618px;
    width: 24px;
    height: 24px;
}

/*하단버튼*/
#slideShow .slide_btn{
    position:absolute;
    bottom:7px;
    left:520px;
    width: 42px;
}
#slideShow .slide_btn ul{
    margin: 0;
    padding: 0;
}
#slideShow .slide_btn ul li{
    float:left;
    background:#000;
    width:6px;
    height:6px;
    border-radius:50%;
    margin:0 4px;
    cursor:pointer;
    background-color: #ccc;
}
#slideShow .slide_btn ul li.active{
    background:#fff;
    width:6px;
    height:6px;
    border-radius:50%;
}