@charset "utf-8";

@import url(common.css);

header.memberheader .black_bar{
    position:relative;
    height:5vh;
    width: 100%;
    background-color: #222;
}

header.memberheader{
    border-bottom: 1px solid #ccc;
}

header.memberheader .wrap {
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    /*background-color: palegreen;*/
}


/*================== 로고 ======================*/
header.memberheader .logo{
    margin:0 auto;
    width:200px;
    /* margin-top: 30px; */
    line-height: 70px;
}
header.memberheader .logo .logotext{
    width: 150px;
    margin-top: 10px;
}
header.memberheader .logo .logoimage{
    width: 40px;
}