@charset "utf-8";

@import url(common.css);

section.main .qb_wrap{
    width: 1100px;
    margin: 32px auto;
    /*background-color: palegreen;*/
    /*position: relative;*/
}
section.main .qb_wrap .headbox{
    margin-top: 30px;
}
section.main .qb_wrap .box {
    width: 550px;
    height: 220px;
    border-bottom: 1px solid #eee;
    border-radius: 0px;
    float: left;
    /*margin-right: 30px;*/
    /*padding-left: 20px;*/
    padding-top: 24px;
    padding-right: 20px;
}
section.main .qb_wrap .blurbox {
    filter: blur(2px);
    width: 550px;
    height: 220px;
    border-bottom: 1px solid #eee;
    border-radius: 0px;
    float: left;
    /*margin-right: 30px;*/
    /*padding-left: 20px;*/
    padding-top: 24px;
    padding-right: 20px;
}

section.main .qb_wrap .box:first-child{
    border-top: 1px solid #eee;
}
section.main .qb_wrap .box:nth-child(2){
    border-top: 1px solid #eee;
}
section.main .qb_wrap .box .qb_writeday{
    border: 2px solid rgba(148,150,155,0.3);
    padding: 4px 10px;
    border-radius: 100px;
    font-size: 13px;
    color: #aaa;
}
section.main .qb_wrap .box .qb_readcount{
    /*border: 2px solid rgba(148,150,155,0.3);*/
    padding: 4px 10px;
    border-radius: 100px;
    font-size: 13px;
    background-color: #eff1f5;
    color: gray;
}
section.main .qb_wrap .box .qb_readcount div.icon_read{
    display: inline-block;
    background: url(https://d2u3dcdbebyaiu.cloudfront.net/img/www_kr/sp-kr.png?time=dec2022) no-repeat;
    background-size: 590px 907px;
    background-position: -10px -595px;
    /*content: '';*/
    width: 16px;
    height: 23px;
    /* float: left;*/
}
section.main .qb_wrap .listbox .box h3.qb_subject{
    font-size: 15px;
    margin-top: 10px;

}
section.main .qb_wrap .box .nickName{
    font-size: 12px;
    margin-top: 10px;

}
section.main .qb_wrap .box .nickName img{
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
section.main .qb_wrap .box .qb_content{
    font-size: 13px;
    margin-top: 10px;
    height: 50px;
}
section.main .qb_wrap .box .qb_content #photocontent{
    width: 60%;
    display: inline-block;
}

section.main .qb_wrap .box span.qb_photo{
    width: 80px;
    height: 80px;
    float: right;

    /*position: relative;
    top: 0;
    right: 0;*/
}
section.main .qb_wrap .box span.qb_photo img{
    width: 80px;
    height: 80px;
    float: right;

}
/*-------------blurbox----------------*/


section.main .qb_wrap .blurbox:first-child{
    border-top: 1px solid #eee;
}
section.main .qb_wrap .blurbox:nth-child(2){
    border-top: 1px solid #eee;
}
section.main .qb_wrap .blurbox .qb_writeday{
    border: 2px solid rgba(148,150,155,0.3);
    padding: 4px 10px;
    border-radius: 100px;
    font-size: 13px;
    color: #aaa;
}
section.main .qb_wrap .blurbox .qb_readcount{
    /*border: 2px solid rgba(148,150,155,0.3);*/
    padding: 4px 10px;
    border-radius: 100px;
    font-size: 13px;
    background-color: #eff1f5;
    color: gray;
}
section.main .qb_wrap .blurbox .qb_readcount div.icon_read{
    display: inline-block;
    background: url(https://d2u3dcdbebyaiu.cloudfront.net/img/www_kr/sp-kr.png?time=dec2022) no-repeat;
    background-size: 590px 907px;
    background-position: -10px -595px;
    /*content: '';*/
    width: 16px;
    height: 23px;
    /* float: left;*/
}
section.main .qb_wrap .listbox .blurbox h3.qb_subject{
    font-size: 15px;
    margin-top: 10px;

}
section.main .qb_wrap .blurbox .nickName{
    font-size: 12px;
    margin-top: 10px;

}
section.main .qb_wrap .blurbox .nickName img{
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
section.main .qb_wrap .blurbox .qb_content{
    font-size: 13px;
    margin-top: 10px;
    height: 50px;
}
section.main .qb_wrap .blurbox .qb_content .photocontent{
    width: 60%;
    display: inline-block;
}
section.main .qb_wrap .blurbox span.qb_photo_blur{
    width: 80px;
    height: 80px;
    float: right;
    /*position: relative;
    top: 0;
    right: 0;*/
}
section.main .qb_wrap .blurbox span.qb_photo img{
    width: 80px;
    height: 80px;
    float: right;
    position: relative;
    top: 0;
    right: 0;
}
/*--------------------*/
section.main .qb_wrap .hr_tag{
    /*margin-top: 20px;*/
}

section.main .qb_wrap .hr_tag_1{
    font-size: 12px;
    border: 1px solid rgb(19, 191, 159);
    display: inline-block;
    padding: 1px 8px 0px 7px;
    margin-left: -2px;
    color: rgb(19, 191, 159);
}
section.main .qb_wrap .hr_tag_2{
    font-size: 12px;
    border: 1px solid rgb(119, 101, 255);
    display: inline-block;
    padding: 1px 8px 0px 7px;
    color: rgb(119, 101, 255);
}
section.main .paginate{
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    /*background-color: palegreen;*/
}
section.main .paginate .icon_pre{
    background: url(../photo/devster_icon.png) no-repeat;
    background-size: 600px 900px;
    background-position: -218px -626px;
    margin-right: 15px;
    width: 14px;
    height: 14px;
    display: inline-block;
}
section.main .paginate .icon_next{
    background: url(../photo/devster_icon.png) no-repeat;
    background-size: 600px 900px;
    background-position: -166px -626px;
    margin-right: 15px;
    width: 14px;
    height: 14px;
    display: inline-block;
}

section.main .qb_write_btn{
    position: relative;
    bottom: 112px;
    left: 1203px;
}

/*------------------------------------*/

/*=============================================공지사항=============================================*/

.noticeboard_part ul{
    padding: 0 !important;
    margin: 0 !important;
}
.noticeboard_part ul li{
    float: left;
}


/*================================== 질문게시판 디테일 페이지 ====================================*/


section.main .qb_detail_wrap{
    width: 1140px;
    /*background: palevioletred;*/
    margin: 0 auto;
}
section.main .qb_detail_wrap .qb_detail_content{
    width: 736px;
    /*background: palegreen;*/
    padding-top: 40px;
    float: left;
}

section.main .qb_detail_wrap .qb_detail_content .wrap_info{
    margin-top: 10px;
    /*height: 30px;*/
}

section.main .qb_detail_wrap .qb_detail_content .wrap_info .time_date_div{
    height: 30px;
}

section.main .qb_detail_wrap .qb_detail_content .show_tag{
    margin-top: 24px;
}
section.main .qb_detail_wrap .qb_detail_content .show_tag .tag_dday{
    border: 2px solid rgba(148,150,155,0.3);
    padding: 4px 10px;
    border-radius: 100px;
    font-size: 13px;
    color: #aaa;
}
section.main .qb_detail_wrap .qb_detail_content .show_tag .tag_career{
    /*border: 2px solid rgba(148,150,155,0.3);*/
    padding: 4px 10px;
    border-radius: 100px;
    font-size: 13px;
    background-color: #eff1f5;
    color: gray;
}

section.main .qb_detail_wrap .qb_detail_content .article_view_head{
    border-bottom: 1px solid #eee;
    padding-bottom: 29px;
}


section.main .qb_detail_wrap .qb_detail_content .article_view_head .qboard_link:before {
    background: url(https://static.teamblind.com/img/www_kr/sp-kr.png) no-repeat;
    background-size: 600px 900px;
    background-position: -10px -626px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -2px 4px 0;
    vertical-align: middle;
    content: '';
}


section.main .qb_detail_wrap .qb_detail_content .article_view_head a{
    margin-left: 2px;
}

section.main .qb_detail_wrap .qb_detail_content .article_view_head h2{
    font-size: 24px;
    margin-top: 18px;
    font-weight: bold;
}

section.main .qb_detail_wrap .qb_detail_content .article_view_head a{
    color: #222;
    font-size: 14px;
    font-weight: bold;
}

section.main .qb_detail_wrap .qb_detail_content .article_view_head .wrap_info span{
    /*float: left;*/
    color: #94969b;
    /*margin-left: 14px;*/
}

/*아이콘*/
/*.icon_time{
    display: inline-block;
    background: url(https://d2u3dcdbebyaiu.cloudfront.net/img/www_kr/sp-kr.png?time=dec2022) no-repeat;
    background-size: 600px 900px;
    background-position: -88px -598px;
    width: 16px;
    height: 23px;
    vertical-align: middle;
    !*margin-right: 3px;*!
}*/

section.main .qb_detail_wrap .qb_detail_content .article_view_head .wrap_info span .icon_read{
    display: inline-block;
    background: url(https://d2u3dcdbebyaiu.cloudfront.net/img/www_kr/sp-kr.png?time=dec2022) no-repeat;
    background-size: 590px 907px;
    background-position: -10px -595px;
    /*content: '';*/
    width: 16px;
    height: 23px;
    /* float: left;*/
    margin-left: 10px;
}

/*북마크*/
section.main .qb_detail_wrap .qb_detail_content .article_view_head #add-bkmk-btn{
    float: right;
    /*text-align: center;*/
    padding: 0;
}

section.main .qb_detail_wrap .qb_detail_content .article_view_content{
    padding-top: 32px;
    /*border: 1px solid black;*/
}
section.main .qb_detail_wrap .qb_detail_content .article_view_content .qb_detail_img{
    margin-top: 46px;
}
section.main .qb_detail_wrap .qb_detail_content .article_view_content .qb_detail_img img{
    width: 732px;
}

/*section.main .qb_detail_wrap .qb_detail_content .article_view_content .hr_tag_1{
    font-size: 12px;
    border: 1px solid rgb(19, 191, 159);
    display: inline-block;
    padding: 1px 8px 0px 7px;
    margin-left: -2px;
    color: rgb(19, 191, 159);
}
section.main .qb_detail_wrap .qb_detail_content .article_view_content .hr_tag_2{
    font-size: 12px;
    border: 1px solid rgb(119, 101, 255);
    display: inline-block;
    padding: 1px 8px 0px 7px;
    color: rgb(119, 101, 255);
}*/

section.main .qb_detail_wrap .qb_detail_content .article_view_content .qr_detail_img{
    margin-top: 32px;
}

section.main .qb_detail_wrap .qb_detail_content .article_view_content .content_txt{
    line-height: 1.75em;
    font-size: 16px;
}

/*좋아요 아이콘*/
section.main .qb_detail_wrap .qb_detail_content .article_view_content .footbox .icon_thumbup{
    /*display: inline-block;*/
    background: url(../photo/devster_icon_2.png) no-repeat;
    background-size: 590px 907px;
    background-position: -130px -486px;
    /*content: '';*/
    width: 16px;
    height: 23px;
    /* float: left;*/
    margin-right: 6px;
    float: left;
}
/*싫어요 아이콘*/
section.main .qb_detail_wrap .qb_detail_content .article_view_content .footbox .icon_thumbdown{
    /*display: inline-block;*/
    background: url(../photo/devster_icon_2.png) no-repeat;
    background-size: 590px 907px;
    background-position: -424px -486px;
    /*content: '';*/
    width: 16px;
    height: 23px;
    /* float: left;*/
    margin-right: 6px;
    float: left;
}

section.main .qb_detail_wrap .qb_detail_content .article_view_content .footbox .ml-2{
    /*margin-bottom: 5px;*/
    float: left;
    font-size: 16px;
}

section.main .qb_detail_wrap .qb_detail_content .article_view_content .util_btns{
    /*margin-top: 40px;*/
    float: right;
}

section.main .qb_detail_wrap .qb_detail_content .article_view_content .util_btns button{
    background: #4c7bc9;
    color: #fff;
    text-align: center;
    margin-right: 6px;
    /*width: 100px;*/
}

section.main .qb_detail_wrap .qb_detail_content .article_view_content .footbox #add-goodRp-btn{
    margin-right: 10px;
}

/*.already-added {
    background-color: grey;
    color: white;
}*/

section.main .qb_detail_wrap .qb_detail_content .article_view_content .footbox{
    /*margin-top: 20px;*/
    float: left;
}

/*댓글 아이콘*/
.icon_comment{
    display: inline-block;
    background: url(https://d2u3dcdbebyaiu.cloudfront.net/img/www_kr/sp-kr.png?time=dec2022) no-repeat;
    background-size: 600px 900px;
    background-position: -36px -598px;
    width: 16px;
    height: 23px;
    vertical-align: middle;
    margin-left: 10px;
}